---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { TaskApp } from "@/components/task/TaskApp";

const task = {
    id: 1,
    name: "Task 1",
    description: "This is a task",
};
---

<Layout>
    <div
        class="flex container mx-auto h-screen justify-center align-middle items-center"
    >
        <TaskApp client:load />
    </div>
</Layout>
